<header
  class="sticky top-0 p-0 w-full z-50 bg-white px-5 sm:px-10 md:px-32 lg:px-40 py-2 shadow-[rgba(10,10,10,0.2)] shadow-md flex items-center justify-between">
  <h1>
    <a routerLink="" class="font-extrabold text-2xl">Smax</a>
  </h1>
  <div class="text-white font-bold rounded-md flex gap-2">
    <button type="button" class="bg-black px-2 py-1 rounded-md hover:scale-105 active:scale-95">
      <a routerLink="posts">List Posts</a>
    </button>
    <button type="button" class="bg-black px-2 py-1 rounded-md hover:scale-105 active:scale-95">
      <a routerLink="new-post">New Post</a>
    </button>
  </div>
</header>
